body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h2 {
    font-size: 24px;
    margin: 0;
}

h2::after {
    content: "";
    width: 65px;
    height: 3px;
    background-color: #13203f;
    display: block;
    
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.dflex {
    display: flex;
    flex-wrap: wrap;

    
}

.jst-btw {
    justify-content: space-between;
}

.alg-itm {
    align-items: center;
}

.menu a {
    color: #fffcf8;
    font-weight: 500;
    text-decoration: none;
    margin-left: 50px;
    display: inline-block;
}

.menu a:hover {
    text-decoration: underline;
}

.conteudo {
    margin-top: 40px;
}

.ml25 {
    margin-left: 25px;
}

.mb40 {
    margin-bottom: 40px;
}

.btn {
    background-color: #f5f5f5;
    border: none;
    border-bottom: #13203f 1px solid;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    
    
}

.borda{
    border-bottom: solid #f5f5f5 3px;
    width: 1020px;
    padding-top: 35px;
    margin: 0 auto;
}

.formulario {
    width: 100%;
}

form{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.contato {
    width: 45%;
}

.contato input[type=text], .contato input[type=email], .contato textarea {
    width: 100%;
    height: 20px;
    background-color: #f5f5f5;
    border: none;
    border-bottom: #13203f 1px solid;
    margin-bottom: 15px;
    resize: none;
    
}

.contato textarea {
    height: 100px;
}

::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    padding-left: 3px;
    box-sizing: border-box;
}

::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    padding-left: 3px;
    box-sizing: border-box;
}

:-ms-input-placeholder { /* internet explorer */
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    padding-left: 3px;
    box-sizing: border-box;
}

textarea::placeholder {
    padding-top: 80px;
    box-sizing: border-box;
}

textarea:-ms-input-placeholder { /* internet explorer */
    padding-top: 80px;
    box-sizing: border-box;
}

.rodape {
    text-align: center;
    font-size: 12px;
    background-color: #f5f5f5;
    padding: 20px 0;
    margin-top: 50px;
}

#topo {
    position: absolute;
    width: 100%;
    padding: 35px 0;
    
    
}

#banner {
    background-image: url(img/banner.jpg);
    width: 100%;
    height: 500px;
    background-position: center;
}

@media screen and (max-width: 1024px) {

    #topo .container {
        flex-direction: column;
    }

    .menu a {
        margin: 25px 25px 0 25px;
    }

    .borda {
        padding-top: 5px;
        width: 570px;
    }

    #banner {
        height: 300px;
        background-position: right;
    }

    
}

@media screen and (max-width: 1000px){
    
    .formulario{
        flex-direction: column-reverse;
    }

    .contato {
        margin-bottom: 40px;
    }

    .contato p {
        margin-left: 25px;
    }

    form{
        width: 450px;
    }
}

@media screen and (max-width:767px) {

    .menu {
        display: none;
        text-align: center;
        width: 320px;

    }

    .menu a {
        display: block;
        padding: 20px 0;
        border-bottom: solid #f5f5f5 3px;
        margin: 0;
        
    }

    .menu a:last-child {
        border: none;
    }

    .barra {
        width: 35px;
        height: 3px;
        background-color: #f5f5f5;
        margin-bottom: 5px;
    }

    .x .barra:nth-child(2){
        opacity: 0;
    }
    
    .x .barra:nth-child(1){
        transform: rotate(45deg) translate(12px,10px);
    }
    
    .x .barra:nth-child(3){
        transform: rotate(-45deg) translate(1px,0px);
    }

    .borda {
        width: 320px;
    }

    #btn-menu {
        position: absolute;
        right: 30px;
        top: 45px;
        
    }


}

@media screen and (max-width:520px){

    #logo img{
        width: 210px;
        margin: 0 20px;
    }

    #btn-menu {
        right: 15px;
        top: 40px;
    }

    .x .barra:nth-child(1){
        transform: rotate(45deg) translate(9px,1px);
    }
    
    .x .barra:nth-child(3){
        transform: rotate(-45deg) translate(10px,-1px);
    }

    .container .menu a{
        margin: 0;
    }

    form{
        width: 320px;
    }

    @media screen and (max-width:400px){
        form{
            width: 250px;
        }
    }

        
    }


